<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new question</title>
</head>

<style>
    body
    {
        background-color: #676068;
    ;
    }

    h1
    {
        text-align: center;
        background-color: #a52b3c;
        color: #FFFFFF;
    }

    form
    {
        background-color: #a52b3c;
    }

    label
    {
        font-size: 25px;
        font-style: bold;
    }

</style>

<body>
<h1>
    Update question with ID <b th:text="${id}"></b>
</h1>

<form action="#" th:action="@{/add-question/{id}(id=${id})}" th:object="${dto}" method="post">
    <fieldset>
        <legend for="question_text-field">Text</legend>
        <input type="text" id="question_text-field" th:field="*{questionText}">

        <br>
    </fieldset>

    <input type="submit" value="Create">
</form>

<a href="/">Back to index</a>

</body>
</html>