<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="mystyle.css">
    <title>Create new user</title>
</head>

<style>
    body
    {
        background-color: #676068;
    ;
    }

    h1
    {
        text-align: center;
        background-color: #a52b3c;
        color: #FFFFFF;
    }

    form
    {
        background-color: #a52b3c;
    }

    label
    {
        font-size: 25px;
    }

</style>
<body>
<h1>
    Create new question
</h1>

<form action="#" th:action="@{/create-question}" th:object="${dto}" method="post">
    <fieldset>
        <label for="question_text-field">Text</label>
        <input type="text" id="question_text-field" th:field="*{questionText}">

        <div style="color: red" th:if="${#fields.hasErrors('questionText')}">
            Incorrect login (must be at least 3 characters long!
        </div>

        <br>

    </fieldset>

    <input type="submit" value="Create">
</form>

<a href="/">Back to index</a>

</body>
</html>