<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="mystyle.css">
    <title>Create new variant</title>
</head>
<body>
<style>
    body
    {
        background-color: #676068;
    ;
    }

    h1
    {
        text-align: center;
        background-color: #a52b3c;
        color: #FFFFFF;
    }

    form
    {
        background-color: #a52b3c;
    }

    label
    {
        font-size: 25px;
    }

</style>
<h1>
    Create new variant
</h1>

<form action="#" th:action="@{/create-variant}" th:object="${dto}" method="post">
    <fieldset>
        <label for="variant-field">Variant</label>
        <input type="text" id="variant-field" th:field="*{variant}">

        <div style="color: red" th:if="${#fields.hasErrors('variant')}">
            Incorrect login (must be at least 3 characters long!
        </div>

        <br>

    </fieldset>

    <input type="submit" value="Create">
</form>

<a href="/">Back to index</a>

</body>
</html>