<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="mystyle.css">
    <!--<title th:replace="${survey.getName()}">Layout Title</title>
    -->
</head>
<style>
    body
    {
        background-color: #676068;
    ;
    }

    h1
    {
        text-align: center;
        background-color: #a52b3c;
        color: #FFFFFF;
    }

    form
    {
        background-color: #a52b3c;
    }

    label
    {
        font-size: 25px;
    }

</style>
<body>
<div align="center">
    <h1>My surveys</h1>
    <form action="#" th:action="@{/surveys/my/{id}(id=${id})}" th:object="${dto}" method="post">
        <fieldset>
            <label for="name-field">Survey hash</label>
            <input type="text" id="name-field" th:field="*{hash}">
        </fieldset>

        <input type="submit" value="Open">
    </form>
<!--    <ul>-->
<!--        <li th:each="survey: ${surveys}">-->
<!--            <label th:text="${survey.name}"></label>-->
<!--        </li>-->
<!--    </ul>-->
</div>
</body>
</html>