<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="mystyle.css">
    <title>Questions table</title>
</head>
<body>
<style>
    body
    {
        background-color: #676068;
    ;
    }

    h1
    {
        text-align: center;
        background-color: #a52b3c;
        color: #FFFFFF;
    }

    form
    {
        background-color: #a52b3c;
    }

    label
    {
        font-size: 25px;
        font-style: bold;
    }

</style>

<h1>Questions table</h1>
<ol>
    <span th:each="question:${questions}">
        <li>
        <td th:text="${question.questionText}"></td>
        <td th:text="${question.survey.name}"></td>
        <br>

        <ul>
            <tr th:each="variant: ${question.variants}">
                <li th:text="${variant.variant}"></li>
            </tr>
            <li> <a th:href="'add-variant/' + ${question.id}">Add variant </a></li>
        </ul>

        <td>
            <a th:href="'delete-question/' + ${question.id}">Delete</a>
            <a th:href="'update-question/' + ${question.id}">Update</a>
        </td>
        </li>
    </span>

</ol>

<a href="/">Back to index</a>

</body>
</html>