<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="mystyle.css">
    <title>Title</title>
</head>
<style>
    body
    {
        background-color: #676068;
    ;
    }

    h1
    {
        text-align: center;
        background-color: #a52b3c;
        color: #FFFFFF;
    }

    form
    {
        background-color: #a52b3c;
    }

    label
    {
        font-size: 25px;
        font-style: bold;
    }

</style>
<body>

<table>

    <span th:each="question : ${questions}">
        <td th:text="${question.questionText}"></td>
        <td>
            <tr th:each="variant: ${question.getVariants()}">
                <td th:text="${variant.variant}"></td>
            </tr>
        </td>
    </span>


</table>
<a href="index.html">Back to main page</a>
</body>
</html>