<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Surveys table</title>
</head>
<body>

<h1>Surveys table</h1>

<ol>
    <tr th:each="survey:${surveys}">
        <li>
        Title: <td th:text="${survey.name}"></td> <br>
        Participants: <td th:each="participant: ${survey.getParticipants()}">
            <b th:text="${participant.name}"></b>,
        </td>
        <br>
        <a th:href="'complete-survey/' + ${survey.id}">Complete survey</a>
        <br>
        <td>
            <a th:href="'delete-survey/' + ${survey.id}">Delete</a>
            <a th:href="'edit-survey/' + ${survey.id}">Edit survey</a>
            <a th:href="'add-question/' + ${survey.id}">Add question</a>
            <a th:href="'show-report/' + ${survey.id}">Show report</a>
        </td>
        </li>
    </tr>


</ol>

<a href="/">Back to index</a>

</body>
</html>