<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Surveys table</title>
</head>
<body>

<h1>Surveys table</h1>

<table>
    <tr>
        <td>id</td>
        <td>text</td>
        <td>participants</td>
    </tr>
    <tr th:each="survey:${surveys}">
        <td th:text="${survey.id}"></td>
        <td th:text="${survey.name}"></td>
        <td th:each="participant: ${survey.getParticipants()}">
            <b th:text="${participant.login}"></b>,
        </td>
        <td>
            <a th:href="'delete-survey/' + ${survey.id}">Delete</a>
            <a th:href="'complete-survey/' + ${survey.id}">Complete survey</a>
            <a th:href="'edit-survey/' + ${survey.id}">Edit survey</a>
            <a th:href="'add-question/' + ${survey.id}">Add question</a>
        </td>

    </tr>


</table>

<a href="/">Back to index</a>

</body>
</html>