<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
    <meta charset="UTF-8">
    <title>Update new user | Spring Template App</title>
</head>
<style>
    body
    {
        background-color: #676068;
    ;
    }

    h1
    {
        text-align: center;
        background-color: #a52b3c;
        color: #FFFFFF;
    }

    form
    {
        background-color: #a52b3c;
    }

    label
    {
        font-size: 25px;
        font-style: bold;
    }

</style>
<body>
<h1>
    Update user with ID <b th:text="${id}"></b>
</h1>

<form action="#" th:action="@{/update-user/{id}(id=${id})}" th:object="${dto}" method="post">
    <fieldset>
        <legend for="name-field">Name</legend>
        <input type="text" id="name-field" th:field="*{name}">

        <br>

        <legend for="surname-field">Surname</legend>
        <input type="text" id="surname-field" th:field="*{surname}">

        <br>


        <legend for="mail-field">Mail</legend>
        <input type="text" id="mail-field" th:field="*{mail}">

        <br>

        <legend for="password-field">Password</legend>
        <input type="text" id="password-field" th:field="*{password}">

    </fieldset>

    <input type="submit" value="Update">
</form>

<a href="/">Back to index</a>

</body>
</html>