<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars table | Spring Template App</title>
</head>
<body>

<h1>Users table</h1>

<table>
    <tr>
        <td>login</td>
        <td>mail</td>
        <td>name</td>
        <td>surname</td>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.login}"></td>
        <td th:text="${user.mail}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>

        <td>
            <a th:href="'delete-user/' + ${user.id}">Delete</a>
            <a th:href="'update-user/' + ${user.id}">Update</a>
        </td>


    </tr>
</table>

</body>
</html>